<h1 style="color:white" class="display-4">StatusCode: 501</h1>
<p style="color:white">Dobra, a tera pora trochę po polsku. Jak mi przekonasz tą panią o tutaj tu, żeby w wersji 1.0 aplikacji można było tworzyć własne kategorie to jest szansa, że usczęśliwisz ten endpoint faktem, że będzie on miał rację bytu oraz autora, który będzie go implementował.</p>
<img src="https://avatars.githubusercontent.com/u/45905489?v=4" alt="Ala!" />
<p style="color:white">Legendy głoszą, że przyjmuje łapówki w homarach tak więc czekamy i wieżymy, że Ci się uda to zadanie - Niech homar będzie z Tobą czytelniku.</p>

<style>
    body {
        background-color: black;
    }
</style>