@model IEnumerable<AlicjowyBackendv3.Models.UserModel>
@foreach (var user in Model)
{
    <p style="color:white">@Html.DisplayFor(modelItem => user.user_id)&#160;@Html.DisplayFor(modelItem => user.first_name)&#160;@Html.DisplayFor(modelItem => user.last_name)&#160;@Html.DisplayFor(modelItem => user.age)</p>
}
<style>
    body {
        background-color: black;
    }
</style>